<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Livres</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Liste des Livres</h1>
        <h2>Basé sur la base de données du site <a href="https://books.toscrape.com">books.toscrape.com</a></h2>
        
        <table>
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Disponibilité</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                    <tr>
                        <td>{{ book['Title'] }}</td>
                        <td>{{ book['Availability'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <div class="download-btn">
            <a href="/download" class="btn">Télécharger CSV</a>
        </div>
    </div>
</body>
</html>
